# Project exclude paths
/out/
/target/classes/TP/_13_Locks_Semaphore/Parkhaus/Auto.class
/target/classes/Sockets/Examples/Client.class
/target/classes/_13_Executors/Example_Executors/Main$1.class
/target/classes/_13_Executors/Example_Executors/Main$2.class
/target/classes/_13_Executors/Example_Executors/Main.class
/target/classes/TP/_13_Locks_Semaphore/Parkhaus/Main.class
/target/classes/TP/_13_Locks_Semaphore/Philosophfenproblem/Main.class
/target/classes/TP/_13_Locks_Semaphore/Philosophfenproblem/Philosoph.class
/target/classes/TP/_13_Locks_Semaphore/Examples/ReentrantLockWithCondition.class
/target/classes/TP/_13_Locks_Semaphore/Examples/StampedLockDemo.class
/target/classes/TP/_13_Locks_Semaphore/Examples/SynchronizedHashMapWithReadWriteLock.class
/target/classes/TP/_13_Locks_Semaphore/PhilosophersProblem/Fork.class
/target/classes/_13_Executors/Executors_second_example/Main.class
/target/classes/Lernen_Noel/Tree/Main.class
/target/classes/Lernen_Noel/Main.class
/target/classes/TP/_13_Locks_Semaphore/PhilosophersProblem/Main.class
/target/classes/Lernen_Noel/Tree/Node.class
/target/classes/TP/_13_Locks_Semaphore/PhilosophersProblem/Philosopher.class
/target/classes/Lernen_Noel/Server.class
/target/classes/Sockets/Examples/Server.class
/target/classes/_13_Executors/Executors_second_example/SorterCallable.class
/target/classes/Lernen_Noel/TestInt.class
/target/classes/Lernen_Noel/Tree/Tree$1.class
/target/classes/Lernen_Noel/Tree/Tree.class
