grant codebase ""file:\C:\Users\Fabian\Desktop\Oberschule\4AT\Informatik\Java\Exercise_Repository\target\classes\_5AT\TP\RMI_F\Question_Answer" {
    permission java.security.AllPermission;
};

// permissions needed from the debugger
grant {
    permission java.io.FilePermission "C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2023.2.2\bin\breakgen64.dll", "read";
    permission java.lang.RuntimePermission "loadLibrary.*";
};